[Unit]
Description=Check the GigaAM Docker container every 15 seconds

[Timer]
OnBootSec=3min
OnUnitActiveSec=15s
AccuracySec=5s

[Install]
WantedBy=timers.target
